* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;    
    background-color: #000;
    color:#fff;
    font-size: 1.5em;
}
a:link, a:visited,  a:hover, a:active{   
    color: #fff;; 
    text-decoration: none;
}

input{
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
section{
    margin-top: 10px;
}

.cls_txt_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#000;
}
.cls_result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main{
    --column :100%;
    --spacer :15px;
    --height :300px;
    margin-top: 15px;    
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    gap: var(--spacer) 0;
}
@media screen and (min-width: 480px) {
    #main {
        --column :50%;
        --height :250px;
    }   
    
}
@media screen and (min-width: 600px) {
    #main {
        --column :33.33333%;
        --height :250px;
    }   
}
@media screen and (min-width: 980px) {
    #main {
        --column :20%;
        --height :300px;
    }   
}
.cls_column{
    width: calc(var(--column) - var(--spacer));
    margin-left: var(--spacer);
}
.cls_column img{
    width: 100%;
    height: var(--height);
    border-radius: 4px;
}

.cls_record{
    border: 1px solid rgb(214, 236, 14);
    border-radius: 3px;
    background-color: #fff;
    color: rgb(21, 93, 247);
    margin: 5px;
    font-size: 12px;
    padding: 3px;
    cursor: pointer;
}
.cls_notfound{
    border: 1px solid #e75353;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f5b2b2;    
    color: #c50d0d;
    width: 100%;
    font-size: 14px;
}
.cls_title_h{
    font-size: 12px;
}
.txt-center{
    text-align: center;
}
#dv_msg{    
    margin-top: 10px;
}
.cls_txt_search{
    color: #000;
}